@import "*.css";

.orders {
  width: 100%;
  border-spacing: 0;
  margin: 50px 0;
  th {
    line-height: 50px;
    font-weight: 14px;
    background: $red;
    color: $white;
    padding: 0 20px;
    text-align: left;
    font-weight: normal;
    }
  td {
    padding: 0 20px;
    line-height: 50px;
    font-weight: 14px;
    border-bottom: 1px solid color($black a(30%));
    }
  tr:last-child td{
    border-style: none;
    }
  }
